.add-link-page {
  grid-area: main;

  width: 500px;
  max-width: 1060px;

  margin: 50px auto 0;

  .add-link-page-header {
    font-size: xxx-large;
    font-weight: 800;

    margin-top: 75px;
  }

  .add-link-page-form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;

    > :not(:last-child) {
      margin-bottom: 35px;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;

      font-size: x-large;

      .input-label {
        margin-left: 8px;
      }

      .input {
        padding: 10px;

        line-height: 45px;
        font-size: x-large;

        border-radius: 10px;
        border-width: 1px;
      }
    }

    .add-link-page-form-submit-button {
      align-self: flex-end;

      width: 190px;
      height: 80px;

      background-color: black;
      color: white;

      font-size: xx-large;
      font-weight: 700;

      border-radius: 50px;
    }
  }
}
