.delete-confirmation-modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);

  width: 570px;

  opacity: 1;
  background-color: white;

  > * {
    margin-bottom: 35px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 10px;

    background-color: black;
    color: white;

    font-size: x-large;
    font-weight: 900;

    .modal-header-title {
      margin: auto 0;
    }

    .modal-header-close-button {
      border: none;
      background-color: unset;
      cursor: pointer;

      margin: auto 0;

      color: white;

      font-size: x-large;
      font-weight: 700;
    }
  }

  .modal-body {
    text-align: center;
    .modal-message {
      font-size: x-large;
      font-weight: 500;

      color: darken(white, 80);
    }

    .modal-item-title{
      font-size: xx-large;
      font-weight: 700;
    }
  }

  .modal-action-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 440px;

    .modal-action-button {
      cursor: pointer;
      width: 200px;
      height: 50px;

      background-color: black;
      color: white;

      font-size: x-large;
      font-weight: 700;

      border-radius: 50px;
    }
  }
}
